{
  "name": "iamco-theme",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [
      "library/js",
      "library/images",
      "library/css",
      "library",
      "library/fonts"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "library/scss/editor-style.scss",
      "imports": [
        "library/scss/partials/_normalize.scss",
        "library/scss/partials/_variables.scss",
        "library/scss/partials/_typography.scss",
        "library/scss/partials/_functions.scss",
        "library/scss/partials/_mixins.scss"
      ]
    },
    {
      "path": "library/scss/ie.scss",
      "imports": [
        "library/scss/partials/_variables.scss",
        "library/scss/partials/_typography.scss",
        "library/scss/partials/_mixins.scss",
        "library/scss/partials/_ie_grid.scss",
        "library/scss/breakpoints/_481up.scss",
        "library/scss/breakpoints/_768up.scss",
        "library/scss/breakpoints/_1030up.scss"
      ]
    },
    {
      "path": "library/scss/style.scss",
      "imports": [
        "library/scss/_susy.scss",
        "library/scss/partials/_normalize.scss",
        "library/scss/partials/_variables.scss",
        "library/scss/partials/_typography.scss",
        "library/scss/partials/_functions.scss",
        "library/scss/partials/_mixins.scss",
        "library/scss/partials/_grid.scss",
        "library/scss/modules/_alerts.scss",
        "library/scss/modules/_buttons.scss",
        "library/scss/modules/_forms.scss",
        "library/scss/breakpoints/_base.scss",
        "library/scss/breakpoints/_481up.scss",
        "library/scss/breakpoints/_768up.scss",
        "library/scss/breakpoints/_1030up.scss",
        "library/scss/breakpoints/_1240up.scss",
        "library/scss/breakpoints/_2x.scss",
        "library/scss/partials/_print.scss",
        "library/scss/susy/language/_susy.scss",
        "library/scss/susy/_su.scss",
        "library/scss/susy/output/_float.scss",
        "library/scss/susy/language/susy/_settings.scss",
        "library/scss/susy/language/susy/_validation.scss",
        "library/scss/susy/language/susy/_grids.scss",
        "library/scss/susy/language/susy/_box-sizing.scss",
        "library/scss/susy/language/susy/_context.scss",
        "library/scss/susy/language/susy/_background.scss",
        "library/scss/susy/language/susy/_container.scss",
        "library/scss/susy/language/susy/_span.scss",
        "library/scss/susy/language/susy/_gutters.scss",
        "library/scss/susy/language/susy/_isolate.scss",
        "library/scss/susy/language/susy/_gallery.scss",
        "library/scss/susy/language/susy/_rows.scss",
        "library/scss/susy/language/susy/_margins.scss",
        "library/scss/susy/language/susy/_padding.scss",
        "library/scss/susy/language/susy/_bleed.scss",
        "library/scss/susy/language/susy/_breakpoint-plugin.scss",
        "library/scss/susy/su/_utilities.scss",
        "library/scss/susy/su/_settings.scss",
        "library/scss/susy/su/_validation.scss",
        "library/scss/susy/su/_grid.scss",
        "library/scss/susy/output/_shared.scss",
        "library/scss/susy/output/float/_container.scss",
        "library/scss/susy/output/float/_span.scss",
        "library/scss/susy/output/float/_end.scss",
        "library/scss/susy/output/float/_isolate.scss",
        "library/scss/susy/output/_support.scss",
        "library/scss/susy/output/shared/_inspect.scss",
        "library/scss/susy/output/shared/_output.scss",
        "library/scss/susy/output/shared/_direction.scss",
        "library/scss/susy/output/shared/_background.scss",
        "library/scss/susy/output/shared/_container.scss",
        "library/scss/susy/output/shared/_margins.scss",
        "library/scss/susy/output/shared/_padding.scss",
        "library/scss/susy/output/support/_support.scss",
        "library/scss/susy/output/support/_prefix.scss",
        "library/scss/susy/output/support/_background.scss",
        "library/scss/susy/output/support/_box-sizing.scss",
        "library/scss/susy/output/support/_rem.scss",
        "library/scss/susy/output/support/_clearfix.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7880,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": true,
      "url": "http://iamco.staging.wpengine.com/"
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 4000
  },
  "ftp-deploy": {
    "connectionType": "sftp",
    "remotePath": "/wp-content/themes/iamco-theme",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "iamco.sftp.wpengine.com",
      "port": 2222,
      "usePrivateKey": false,
      "username": "iamco-staging",
      "password": "thr33W@lv3s",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "screenshot.png",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 450767
      },
      {
        "file": "404.php",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 920
      },
      {
        "file": "archive-custom_type.php",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 2406
      },
      {
        "file": "archive.php",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 2520
      },
      {
        "file": "CHANGELOG.md",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 11305
      },
      {
        "file": "comments.php",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 1579
      },
      {
        "file": "favicon.ico",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 1150
      },
      {
        "file": "favicon.png",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 1223
      },
      {
        "file": "footer.php",
        "ctime": "2017-03-28T02:48:16.000Z",
        "mtime": "2017-03-28T02:48:16.000Z",
        "size": 1481
      },
      {
        "file": "functions.php",
        "ctime": "2017-03-28T03:51:50.000Z",
        "mtime": "2017-03-28T03:51:50.000Z",
        "size": 8930
      },
      {
        "file": "header.php",
        "ctime": "2017-03-28T06:25:55.000Z",
        "mtime": "2017-03-28T06:25:55.000Z",
        "size": 3910
      },
      {
        "file": "index.php",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 2881
      },
      {
        "file": "library/admin.php",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 5640
      },
      {
        "file": "library/bones.php",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 9133
      },
      {
        "file": "library/custom-post-type.php",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 6449
      },
      {
        "file": "library/css/editor-style.css",
        "ctime": "2017-03-29T07:44:46.000Z",
        "mtime": "2017-03-29T07:44:46.000Z",
        "size": 23059
      },
      {
        "file": "library/css/ie.css",
        "ctime": "2017-03-29T23:55:37.000Z",
        "mtime": "2017-03-29T23:55:37.000Z",
        "size": 12682
      },
      {
        "file": "library/css/login.css",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 1821
      },
      {
        "file": "library/css/style.css",
        "ctime": "2017-04-04T05:16:26.000Z",
        "mtime": "2017-04-04T05:16:26.000Z",
        "size": 65236
      },
      {
        "file": "library/images/apple-touch-icon.png",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 8439
      },
      {
        "file": "library/images/custom-post-icon.png",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 462
      },
      {
        "file": "library/images/login-logo.png",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 7019
      },
      {
        "file": "library/images/nothing.gif",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 1140
      },
      {
        "file": "library/images/nothumb.gif",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 1161
      },
      {
        "file": "library/images/win8-tile-icon.png",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 8048
      },
      {
        "file": "library/js/scripts.js",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 4243
      },
      {
        "file": "library/translation/da_DK.mo",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 6074
      },
      {
        "file": "library/translation/da_DK.po",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 8281
      },
      {
        "file": "library/translation/default.mo",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 526
      },
      {
        "file": "library/translation/default.po",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 6275
      },
      {
        "file": "library/translation/de_DE.mo",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 5952
      },
      {
        "file": "library/translation/de_DE.po",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 8475
      },
      {
        "file": "library/translation/es_ES.mo",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 6178
      },
      {
        "file": "library/translation/es_ES.po",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 8368
      },
      {
        "file": "library/translation/fi_FI.mo",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 6079
      },
      {
        "file": "library/translation/fi_FI.po",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 8324
      },
      {
        "file": "library/translation/fr_FR.mo",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 7975
      },
      {
        "file": "library/translation/fr_FR.po",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 12280
      },
      {
        "file": "library/translation/he_IL.mo",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 6470
      },
      {
        "file": "library/translation/he_IL.po",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 8668
      },
      {
        "file": "library/translation/hr.mo",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 9289
      },
      {
        "file": "library/translation/hr.po",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 13779
      },
      {
        "file": "library/translation/hu_HU.mo",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 9121
      },
      {
        "file": "library/translation/hu_HU.po",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 13777
      },
      {
        "file": "library/translation/it_IT.mo",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 6009
      },
      {
        "file": "library/translation/it_IT.po",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 8190
      },
      {
        "file": "library/translation/ja.mo",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 7618
      },
      {
        "file": "library/translation/ja.po",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 13142
      },
      {
        "file": "library/translation/lt_LT.mo",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 6645
      },
      {
        "file": "library/translation/lt_LT.po",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 9812
      },
      {
        "file": "library/translation/nb_NO.mo",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 5828
      },
      {
        "file": "library/translation/nb_NO.po",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 8018
      },
      {
        "file": "library/translation/nl_NL.mo",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 8471
      },
      {
        "file": "library/translation/nl_NL.po",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 14138
      },
      {
        "file": "library/translation/pl_PL.mo",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 5956
      },
      {
        "file": "library/translation/pl_PL.po",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 8121
      },
      {
        "file": "library/translation/pt_PT.mo",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 6179
      },
      {
        "file": "library/translation/pt_PT.po",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 8360
      },
      {
        "file": "library/translation/README.md",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 793
      },
      {
        "file": "library/translation/ro_RO.mo",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 6212
      },
      {
        "file": "library/translation/ro_RO.po",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 8387
      },
      {
        "file": "library/translation/ru_RU.mo",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 7999
      },
      {
        "file": "library/translation/ru_RU.po",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 11156
      },
      {
        "file": "library/translation/sv_SE.mo",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 5806
      },
      {
        "file": "library/translation/sv_SE.po",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 7996
      },
      {
        "file": "library/translation/zh_CN.mo",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 7371
      },
      {
        "file": "library/translation/zh_CN.po",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 11512
      },
      {
        "file": "library/js/libs/modernizr.custom.min.js",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 15126
      },
      {
        "file": "page-custom.php",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 3539
      },
      {
        "file": "page.php",
        "ctime": "2017-04-01T06:55:22.000Z",
        "mtime": "2017-04-01T06:55:22.000Z",
        "size": 8829
      },
      {
        "file": "post-formats/format-aside.php",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 2921
      },
      {
        "file": "post-formats/format-audio.php",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 2871
      },
      {
        "file": "post-formats/format-chat.php",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 2864
      },
      {
        "file": "post-formats/format-gallery.php",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 2864
      },
      {
        "file": "post-formats/format-image.php",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 2864
      },
      {
        "file": "post-formats/format-link.php",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 2973
      },
      {
        "file": "post-formats/format-quote.php",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 2973
      },
      {
        "file": "post-formats/format-status.php",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 2864
      },
      {
        "file": "post-formats/format-video.php",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 2884
      },
      {
        "file": "post-formats/format.php",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 3719
      },
      {
        "file": "readme.md",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 1095
      },
      {
        "file": "search.php",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 2816
      },
      {
        "file": "searchform.php",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 388
      },
      {
        "file": "sidebar.php",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 531
      },
      {
        "file": "single-custom_type.php",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 3784
      },
      {
        "file": "single.php",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 1720
      },
      {
        "file": "style.css",
        "ctime": "2017-03-28T03:28:22.000Z",
        "mtime": "2017-03-28T03:28:22.000Z",
        "size": 4669
      },
      {
        "file": "taxonomy-custom_cat.php",
        "ctime": "2017-03-28T02:44:17.000Z",
        "mtime": "2016-05-10T04:27:38.000Z",
        "size": 2643
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}